@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,1000&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bolder;
  font-size: 1.6rem;
}

@media (max-width: 599px) {

  div {
  font-size: 1.4rem;
  }
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.default-background {
  background-image: url('./img/weather-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.pesquisa {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  font-weight: 100;
}

.pesquisa input {
  font-size: 1rem;
  width: 300px;
}

.pesquisa button {
  font-size: 1rem;
  width: 140px;
  padding: 0 5px 0 5px;
}

@media (max-width: 599px) {

  .pesquisa input {
  padding: 0 0 0 10px;
  font-size: 0.6rem;
  width: 50vw;
}

  .pesquisa button {
    font-size: 0.6rem;
    width: 25vw;
    padding: 5px 5px 5px 5px;
}
}

input::placeholder {
  padding-left: 10px;
}

.box {
  margin-top: 40px;
  position: absolute;
  background-color: rgba(0, 0, 255, 0.891);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 10px;
  border: 2px solid black;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;

}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Alinha na parte inferior */
  align-items: center;
  padding: 0 100px 0 100px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
}

.content:nth-of-type(n+2) {
  margin-top: 40px;
}

.media {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.content {
  padding-top: 13px;
}

.temperatura {
  display: flex;
  justify-content: center;
  padding-left: 15px;
}

.degree {
  font-size: 120px;
  display: inline;
}

.metric {
  display: flex;
  font-size: 30px;
  margin-top: 32px;
}

.content {
  display: flex;
  justify-content: center;
}

.extra-info-container {
  display: flex;
  justify-content: space-between;
  color: white;
}

.vento, .umidade {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px 0px 20px;
}

.material-symbols-outlined {
  color: white;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.error-content {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.error-content p {
  background-color: blue;
  max-width: 300px;
  height: 400px;
  font-size: 1.5rem;
  padding: 90px 20px 0px 20px;
  border-radius: 20px;
}

.content-date {
  padding-top: 10px;
  font-size: 1rem;
}