@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

.App {
  background-color: red;
}

.body {
  background-color: aqua;
  max-width: 100px;
  display: block;
  align-items: center;
}
